* {
    margin: 0;
    padding: 0;
}


header {
    background-color: red;
    height: 10vh;
}

nav ul {
    list-style: none;
    margin-left: 60vw;
}

nav ul li {
    display: inline-block;
    background-color: yellow;
    margin-left: 15px;
    padding: 18px;
    /* a moze i ovako padding: 1.2em; jedan em je 16 pixela */
}

main {
    background-color: green;
    height: 60vh; /* view height */
}

footer {
    background-color: cyan;
    height: 20vh;
}
